 background-color="blue"
 
 
 fieldset{
    width: 80%;
    margin: 150px auto;
    background-color:blue;
    color:white;
     padding: 20px;
    border-radius: 30px;
}
legend{
    background: blue;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
div{
    background-color: yellowgreen;
    justify-content: center;
}